body {
  padding: 0;
  margin: auto;
  max-width: 1720px;
  /* overflow: hidden; */
  user-select: none;
}
* {
  color: rgb(74, 72, 78);
}
a {
  text-decoration: none;
}
/* @media screen and (max-width: 650px) {
    .header .navi {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        justify-content: center;
        
        display: none;
        flex-wrap: wrap;
        width: 100%;
    }
    .naviLi {
        margin: 10px;
        background: rgba(255, 255, 255, 0.89) !important;
        border-radius: 2px;
    }
    .header .menu {
        display: flex;
        z-index: 1;
    }
} */
.logo {
  position: relative;
  height: 60px;
  width: 150px;
  margin-right: 10px;
  /* border: 1px solid red; */
  align-self: center;
  z-index: 1;
}
.logo img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.navi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 460px;
  width: 100%;
  /* border: 1px solid red; */
  list-style-type: none;
  display: none;
  padding: 0;
  /* margin: 10px; */
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.naviLi {
  margin: 5px;
  /* border: 1px solid red; */
  border-radius: 2px;
  padding: 10px;
}
.naviLi:hover {
  border-radius: 2px;
  /* box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.349); */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.42),
    rgba(255, 255, 255)
  );
}
.menu {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  padding: 10px 20px 10px 0;
  /* border-radius: 50%; */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.42),
    rgba(255, 255, 255)
  );
  width: 50px;
}
.menu:hover {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.42),
    rgba(255, 255, 255)
  );
}
.naviLi,
.naviLi a {
  /* padding-bottom: 5px; */
  /* background: silver; */
  border-radius: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 100px;
}
.naviLi i {
  padding: 15px;
  background: slategray;
  margin-top: 15px;
  align-self: center;
  border-radius: 50%;
  color: white;
  box-shadow: 0 0 1px 0 slategray;
}
.naviLi span {
  margin: 10px;
}

.slide .cimage1 {
  height: 98vh;
  overflow: hidden;
  /* z-index: -2; */
  /* filter: blur(1px); */
  width: 100%;
}
.cimage1 img {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}
.content {
  position: fixed;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.slide {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}
.showing {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  margin-bottom: 5px;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.856);
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%,-50%); */
  /* padding: 40px; */
  width: 100%;
  /* color: black; */
}
.projectTitle {
  align-self: center;
  max-width: 1024px;
  /* border: 1px solid red; */
  box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.349);
  border-radius: 2px;
  padding: 10px;
  /* width: 100%; */
  position: relative;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}
.projectTitle h1 {
  text-align: center;
}
.projectTitle a {
  padding: 10px;
  background: rgb(4, 190, 60);
  color: white;
  display: block;
  width: max-content;
  align-self: center;
  margin-top: 20px;
}
.tagline {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  opacity: 0.5;
  font-size: small;
}
.welcomeMessage {
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* box-shadow: 1px 1px 2px 2px rgba(38, 8, 99, 0.315); */
  border-radius: 2px;
  align-self: center;
  /* border: 1px solid red; */
  max-width: 1024px;
  padding: 10px;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.514);  */
}
.welcomeMessage a {
  padding: 10px;
  background: rgb(4, 190, 60);
  color: white;
}
.welcomeMessage table {
  /* border: 1px solid red; */
  /* box-shadow: 0 0 1px 0 rgba(38, 8, 99, 0.315); */
  margin: 40px 0 40px 0;
  /* box-shadow: 1px 1px 2px 2px rgba(38, 8, 99, 0.315); */
  padding: 0;
  background: rgba(255, 255, 255, 0.514);
}
table td,
table th {
  padding: 10px;
  text-align: left;
  margin: 0;
}
