<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curious tag</title>
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" href="../css/sign.css" />
    <link rel="stylesheet" href="../css/contributors.css" />
    <link rel="stylesheet" href="../fontawesome-free-5.15.3-web/css/all.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="../images/logo.png" alt="logo" />
      </div>
      <div class="menu"><i class="fas fa-bars"></i></div>
      <ul class="navi">
        <li class="naviLi" id="signupT">
          <a href="/signup"
            ><i class="fa fa-user-plus" aria-hidden="true"></i>
            <span> Sign Up</span></a
          >
        </li>
        <li class="naviLi" id="signinT">
          <a href="/signin"
            ><i class="fas fa-sign-in-alt"></i> <span> Sign In</span></a
          >
        </li>
        <li class="naviLi">
          <a href="/contributors"
            ><i class="fas fa-people-carry"></i> <span> Contributors</span></a
          >
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="slide showing">
        <div class="cimage1">
          <img src="../images/bg1.jpg" alt="image" />
        </div>
      </div>
      <div class="slide">
        <div class="cimage1">
          <img src="../images/bg2.jpg" alt="image" />
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="projectTitle">
        <h1>Learning to Build that's being in a maze!</h1>
        <a href="/signin"><i class="fa fa-sign-in"></i> SIGN IN?</a>
      </div>
    </div>
  </body>
  <script src="../javascript/home.js"></script>
</html>
